
<footer id="sticky-footer">
	<div class="container-fluid text-center py-4 bg-dark mt-4">
		Copyright &copy; <%= link_to "Richard Kachyňa","https://github.com/Tacud1810", class:"text-white" %>
	</div>
</footer>